@font-face {
  font-family: Vollkorn;
  src: url(../fonts/Vollkorn/Vollkorn-Regular.ttf);
}
@font-face{
  font-family: Vollkorn SC;
  src:url(../fonts/Vollkorn/VollkornSC-Regular.ttf)
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

}
body {
  margin: 0;
  padding:0;

  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main{
  width: 100%;
}