@font-face {
  font-family: Vollkorn;
  src: url(../fonts/Vollkorn/Vollkorn-Regular.ttf);
}
@font-face{
  font-family: Vollkorn SC;
  src:url(../fonts/Vollkorn/VollkornSC-Regular.ttf)
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

}
body {
  margin: 0;
  padding:0;

  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main{
  width: 100%;
}

.buttonMod{
  /*background: rgba(0, 98, 245, 0.97);*/
  background: #DAA842;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26), 0px 2px 10px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  font-family: Vollkorn;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 39px;
color:#ffffff !important;
}